@use './../customs/globals' as *;
@use './../customs/mixins' as *;

.detalls__article {
  position: relative;
  padding: 10vh 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &--heading {
    font-size: 3.2rem;
    font-weight: 700;
    text-shadow: 0.1rem 0.1rem 0.1rem $secundario;

    @media (min-width: $medium) {
      font-size: 5.6rem;
    }
  }

  &--location {
    font-size: 1.4rem;
    color: $complementario;
    font-weight: 700;

    @media (min-width: $medium) {
      font-size: 2rem;
    }
  }

  &--img {
    border-bottom-left-radius: 25%;
    margin: 2rem;

    max-width: 80rem;
  }

  &--description {
    font-size: 1.6rem;
    padding: 2vh 0 2vh 25%;

    @media (min-width: $medium) {
      padding: 2vh 0 2vh 50%;
      font-size: 2.4rem;
    }
  }

  &--list {
    width: 100%;
    padding: 2vh 0 2vh 10vw;

    & h3 {
      font-size: 1.6rem;

      @media (min-width: $medium) {
        font-size: 2.4rem;
      }
    }
  }

  &--item {
    width: 100%;
    font-size: 1.6rem;

    @media (min-width: $medium) {
      font-size: 2.4rem;
    }

    & a {
      display: inline-block;
      height: 100%;
      margin: 0.5rem 0;
      color: $dark;
      font-weight: 600;
      padding: 0 0 0 10vw;
      position: relative;
      transition: color 0.2s;

      &:hover {
        color: $complementario;
      }

      &::before {
        content: '';
        position: absolute;
        padding: 0 1vw;
        z-index: -1;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to right, $light 0%, $secundario 50%);
        border-radius: 1rem;
      }
    }
  }
}
