@use './../customs/globals' as *;
@use './../customs/mixins' as *;

.detalls__article {
  position: relative;
  line-height: 2;

  &--heading {
    position: absolute;
    z-index: 99;
    color: $light;
    font-size: 3.2rem;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);

    @media (min-width: $medium) {
      top: 25%;
      font-size: 5rem;
    }
  }

  & picture img {
    width: 100%;
    height: 70vh;
    object-fit: cover;
    clip-path: ellipse(175% 100% at 50% 0%);
    box-shadow: 0.2rem 0.2rem 0.4rem $dark, -0.2rem -0.2rem 0.2rem $light;
  }

  &--location {
    font-size: 1.6rem;
    color: $complementario;
    font-weight: 700;

    @media (min-width: $medium) {
      font-size: 2rem;
    }

    & svg {
      fill: $complementario;
    }
  }

  &--description {
    font-size: 1.2rem;
    padding: 2vh 0;

    @media (min-width: $medium) {
      padding: 2vh 25% 2vh 0;
      font-size: 1.4rem;
    }
    @media (min-width: $large) {
      font-size: 1.6rem;
    }
  }

  &--list {
    width: 100%;
    color: $dark;

    @media (min-width: $medium) {
      padding: 2vh 0 2vh 10vw;
    }

    & dt {
      font-size: 1.6rem;

      @media (min-width: $medium) {
        font-size: 2rem;
      }
    }
  }

  &--item {
    width: 100%;
    font-size: 1.6rem;

    @media (min-width: $medium) {
      font-size: 2rem;
    }

    & a {
      display: inline-block;
      width: 100%;
      height: 100%;
      margin: 0.5rem 0;
      color: $dark;
      font-weight: 600;
      font-size: 1.4rem;
      padding: 0 0 0 10vw;
      position: relative;
      transition: color 0.2s;

      @media (min-width: $medium) {
        font-size: 2rem;
      }

      &:hover {
        color: $complementario;
      }

      &::before {
        content: '';
        position: absolute;
        padding: 0 1vw;
        z-index: -1;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to left, #fff 90%, $dark 100%);
        border-radius: 1rem;
      }
    }
  }
}

.pagination {
  margin-top: 10vh;
  h3 {
    text-align: center;
    padding: 1rem 0;
    font-size: 2rem;
    color: $dark;
  }
  &__articles {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;

    @media (min-width: $medium) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (min-width: $extra-large) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
