@use './../customs/globals' as *;
@use './../customs/mixins' as *;

.detalls__article {
  position: relative;
  padding: 8rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (min-width: $medium) {
    padding: 12rem 0;
  }

  &--location {
    font-size: 1.6rem;
    color: $complementario;
    font-weight: 700;

    @media (min-width: $medium) {
      font-size: 2.2rem;
    }
  }

  & picture img {
    border-radius: 0.5rem;
    box-shadow: 0.2rem 0.2rem 0.4rem $dark, -0.2rem -0.2rem 0.2rem $light;
    max-width: 80rem;
  }

  &--description {
    font-size: 1.4rem;
    padding: 2vh 25% 2vh 0;

    @media (min-width: $medium) {
      font-size: 1.6rem;
    }
    @media (min-width: $large) {
      font-size: 1.8rem;
    }
  }

  &--list {
    width: 100%;
    padding: 2vh 0 2vh 10vw;

    & h3 {
      font-size: 1.6rem;

      @media (min-width: $medium) {
        font-size: 2rem;
      }
    }
  }

  &--item {
    width: 100%;
    font-size: 1.6rem;

    @media (min-width: $medium) {
      font-size: 2rem;
    }

    & a {
      display: inline-block;
      width: 100%;
      height: 100%;
      margin: 0.5rem 0;
      color: $dark;
      font-weight: 600;
      padding: 0 0 0 10vw;
      position: relative;
      transition: color 0.2s;

      &:hover {
        color: $complementario;
      }

      &::before {
        content: '';
        position: absolute;
        padding: 0 1vw;
        z-index: -1;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to right, $light 0%, $secundario 50%);
        border-radius: 0.5rem;
      }
    }
  }
}

.pagination {
  h3 {
    text-align: center;
    padding: 1rem 0;
    font-size: 2rem;
    color: $dark;
  }
  &__articles {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }
}
