@use './../customs/globals' as *;
@use './../customs/mixins' as *;

.categories__nav {
  width: 100%;
  margin-top: 6rem;

  &--list {
    display: flex;
    justify-content: space-between;
    border-top: 0.2rem solid $primario;
  }
  &--item {
    width: 20%;
    color: $complementario;
    padding: 0.8rem 0;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 700;
    text-shadow: 0.1rem 0.1rem 0.1rem $primario;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.5s;

    &:hover {
      background-color: lighten($color: $primario, $amount: 45%);
    }

    @media (min-width: $small) {
      font-size: 2rem;
    }
    @media (min-width: $large) {
      font-size: 2.4rem;
    }
  }

  & .active-link {
    background: linear-gradient(180deg, rgba(110, 0, 238, 1) 80%, rgba(3, 218, 197, 1) 100%);
    color: $light;
    cursor: pointer;
  }
}

.container__categories {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));

  padding: 4rem 0;
  position: relative;
  place-items: center;

  @media (min-width: $small) {
    gap: 4rem;
    padding: 6rem 0;
  }
}

.categories__item {
  height: 100%;

  &--box {
    box-shadow: 0.2rem 0.2rem 0.6rem $dark, -0.2rem -0.2rem 0.2rem $light;
    transition: all 0.3s;
    padding: 1rem;
    border-radius: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: wrap;

    &:hover {
      background-color: lighten($color: $primario, $amount: 0.6);
      color: $light;
      box-shadow: 0.2rem 0.2rem 0.4rem $secundario;
    }
  }
  & img {
    height: 25rem;
    object-fit: cover;

    @media (min-width: $large) {
      max-height: 30rem;
    }
    @media (min-width: $extra-large) {
      max-height: 35rem;
    }
  }

  &--title {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;

    @media (min-width: $small) {
      font-size: 2rem;
    }
    @media (min-width: $large) {
      font-size: 2.2rem;
    }
  }
  & p {
    font-size: 1.2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;

    @media (min-width: $extra-large) {
      font-size: 1.6rem;
    }
  }
  & a {
    display: inline-block;
    padding: 0.8rem 0;

    &:hover {
      cursor: pointer;
    }
  }
}
