@use "./../customs/globals" as *;
@use "./../customs/mixins" as *;

.container__categories {
  display: grid;
  grid-template-columns: 1fr;
  padding: 4rem 0;
  @include borderDouble($dark);
  position: relative;
  place-items: center;

  @media (min-width: $medium) {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
  }

  &::before {
    content: "";
    position: absolute;
    width: 1.6rem;
    height: 4.8rem;
    top: 0;
    left: 50%;
    outline: none;
    border: none;
    transform: translateX(-50%);
    background-color: $dark;
  }
  &::after {
    content: "";
    position: absolute;
    width: 1.6rem;
    height: 4.8rem;
    bottom: 0;
    left: 50%;
    outline: none;
    border: none;
    transform: translateX(-50%);
    background-color: $dark;
  }
}

.categories__item {
  padding: 3rem 0;

  & img {
    max-height: 20rem;
    object-fit: cover;
  }

  & figcaption {
    font-size: 2.6rem;
    font-weight: 700;
    text-shadow: 0.1rem 0.1rem 0.1rem $primario;
  }
  & p {
    font-size: 1.2rem;
  }
  & a {
    display: inline-block;
    padding: 0.8rem 0;

    &:hover {
      cursor: pointer;
    }
  }
}
