@use './../customs/globals' as *;
@use './../customs/mixins' as *;

.container__categories {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(35rem, 1fr));
  grid-template-rows: auto;
  padding: 5vh 0;
  position: relative;
  place-items: center;

  @media (min-width: $small) {
    column-gap: 1.6rem;
  }
  @media (min-width: $extra-large) {
    column-gap: 2.6rem;
  }
}

.categories__item {
  padding: 3rem 0;
  height: 100%;

  & img {
    height: 25rem;
    object-fit: cover;

    @media (min-width: $large) {
      max-height: 30rem;
    }
    @media (min-width: $extra-large) {
      max-height: 35rem;
    }
  }

  & figcaption {
    font-size: 2.6rem;
    font-weight: 700;
    text-shadow: 0.1rem 0.1rem 0.1rem $primario;
  }
  & p {
    font-size: 1.6rem;
  }
  & a {
    display: inline-block;
    padding: 0.8rem 0;

    &:hover {
      cursor: pointer;
    }
  }
}
