@use './../customs/globals' as *;
@use './../customs/mixins' as *;

.header {
  position: relative;

  &__title {
    margin: 20vh 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  &__heading {
    position: absolute;
    top: 4rem;
    left: 50%;
    transform: translateX(-50%);
    color: $primario;
    font-size: 2.2rem;
    text-shadow: 0.1rem 0.1rem 0.2rem $secundario;
    @media (min-width: $medium) {
      top: 2.2rem;
      font-size: 5rem;
    }
  }
  h2 {
    color: $complementario;
    padding: 3rem 0;
    font-size: 3rem;
    text-shadow: 0.2rem 0.2rem 0.2rem lighten($color: $secundario, $amount: 25%);

    @media (min-width: $medium) {
      font-size: 4rem;
    }
    @media (min-width: $large) {
      font-size: 4.6rem;
    }
  }
}

// efecto Loading
