@use './../customs/globals' as *;
@use './../customs/mixins' as *;

.multimedia__advice {
  padding: 10vh 0;
  background: linear-gradient(180deg, $primario 0%, rgba($primario, 0) 100%);
  & h3 {
    font-size: 1.6rem;
    color: $light;
  }

  & p {
    font-size: 1.2rem;
  }

  & a.multimedia__link {
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 700;
    color: $light;
    transition: all 0.4s;
    text-decoration: underline;

    &:hover {
      opacity: 0.8;
    }
  }

  @media (min-width: $medium) {
    & h3 {
      font-size: 2rem;
    }

    & p {
      font-size: 1.6rem;
    }

    & a {
      font-size: 2rem;
    }
  }
}

// Multimedia page

.multimedia__video {
  padding: 2vh 0;
}
.videoItem {
  width: 100%;
  border-radius: 1rem;
  height: 20rem;

  @media (min-width: $small) {
    height: 25rem;
  }
  @media (min-width: $medium) {
    height: 30rem;
  }
  @media (min-width: $large) {
    height: 50rem;
  }
}

.multimedia__nota {
  border-top: 0.2rem solid $primario;
  font-size: 1.2rem;
  & a {
    color: $primario;
    &:hover {
      text-decoration: underline;
    }
  }

  @media (min-width: $medium) {
    font-size: 1.6rem;
  }
}
