@use './../customs/globals' as *;
@use './../customs/mixins' as *;

.portada {
  display: grid;
  grid-template-areas:
    'header'
    'categories'
    'presentacio'
    'links'
    'situacio';

  background-color: $dark;
  gap: 1rem;

  @media (min-width: $medium) {
    height: 100vh;
    grid-template-areas:
      'header header header'
      'categories categories links'
      'presentacio situacio links';
    grid-auto-flow: dense;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}

// Header container
.portada__header {
  margin-top: 10vh;
  height: 25vh;
  grid-area: header;
  background-image: url('../img/paissatge_complet.jpg');
  background-position: center center;
  background-size: cover;
  border-radius: 0 5rem 5rem 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (min-width: $medium) {
    margin-top: 0;
    height: 100%;
  }

  h1,
  h2 {
    text-align: center;
    color: $light;
    font-size: 1.8rem;
    text-shadow: 0.1rem 0.1rem 1rem $primario;

    @media (min-width: $small) {
      font-size: 2.2rem;
    }
    @media (min-width: $medium) {
      font-size: 3.8rem;
    }
    @media (min-width: $large) {
      font-size: 5rem;
    }
  }
}

// Categories container

.portada__categories {
  height: 25vh;
  grid-area: categories;
  background-image: url('../img/fantasy.jpg');
  background-position: center center;
  background-size: cover;
  border-radius: 0 5rem 5rem 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (min-width: $medium) {
    height: 100%;
  }
}

// Links container
.portada__links {
  grid-area: links;
  padding: 0.2rem;

  &--list {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }

  &--item a {
    color: $light;
    font-size: 2rem;
    font-weight: 700;

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}

// Presentacio container
.portada__presentacio {
  height: 25vh;
  grid-area: presentacio;
  background-image: url('../img/presentacio_museu.jpg');
  background-position: center center;
  background-size: cover;
  border-radius: 0 5rem 5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (min-width: $medium) {
    height: 100%;
  }
}

// Situacio container

.portada__situacio {
  grid-area: situacio;

  & iframe {
    border: none;
    border-radius: 5rem 5rem 0 0;
    width: 100%;
    height: 100%;
  }
}
