@use './../customs/globals' as *;
@use './../customs/mixins' as *;

.presentacio__list {
  padding: 5rem 0;
  &--item {
    background-color: transparent;
    border: 0.1rem solid $primario;
    border-radius: 1rem;
    margin: 2rem 0;
    padding: 2rem 3rem;
    position: relative;
    box-shadow: 0 0.1rem 0.3rem $complementario;
    overflow: hidden;
    transition: all 0.4s;

    & img {
      position: absolute;
      top: 0;
      right: 0;
      width: 4rem;
      transform: rotate(0);

      @media (min-width: $medium) {
        width: 5rem;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  &--item.active {
    background-color: lighten($color: $complementario, $amount: 15%);
    box-shadow: 0 0.3rem 0.6rem $dark, 0 0.3rem 0.6rem $dark;
    transition: all 0.4s;

    & img {
      transform: rotate(180deg);
    }
    & p,
    & ol,
    & ul {
      height: 100%;
    }
  }
  & h3 {
    font-size: 2rem;
    @media (min-width: $medium) {
      font-size: 2.8rem;
    }
  }

  & p,
  & ol,
  & ul {
    position: relative;
    font-size: 1.2rem;
    text-align: justify;
    height: 0;
    overflow: hidden;

    @media (min-width: $medium) {
      font-size: 1.4rem;
    }
  }
}

// Contenido interior

.presentacio__list--ol li {
  margin-left: 2rem;
  list-style: decimal;

  &::marker {
    color: $dark;
  }
}
