@use './mixins' as *;

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins/Poppins-Thin.ttf');
  font-weight: 100;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins/Poppins-Regular.ttf');
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins/Poppins-Italic.ttf');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins/Poppins-SemiBold.ttf');
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins/Poppins-Bold.ttf');
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins/Poppins-Black.ttf');
  font-weight: 900;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins/Poppins-BlackItalic.ttf');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

// Paleta colores
$primario: #31493c;
$secundario: #7a9e7e;
$complementario: #b3efb2;
$dark: #001a23;
$light: #e8f1f2;
$white: #fff;
$error: #b00020;

// Breakpoints
$small: 480px;
$medium: 768px;
$large: 1024px;
$extra-large: 1600px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

body {
  line-height: 2;
}

.main-content {
  width: 100%;
  height: 100%;
  margin: 0 0 3rem 0;
  position: relative;
  @include borderDouble($primario);

  &::before {
    content: '';
    position: absolute;
    width: 1.6rem;
    height: 1.6rem;
    top: 0;
    left: 50%;
    outline: none;
    border: none;
    transform: translateX(-50%);
    background-color: $primario;
    box-shadow: 0.1rem 0.1rem 0.2rem $secundario;
    @media (min-width: $medium) {
      height: 3.2rem;
    }
  }
  &::after {
    content: '';
    position: absolute;
    width: 1.6rem;
    height: 1.6rem;
    bottom: 0;
    left: 50%;
    outline: none;
    border: none;
    transform: translateX(-50%);
    background-color: $primario;
    box-shadow: -0.1rem -0.1rem 0.2rem $secundario;
    @media (min-width: $medium) {
      height: 3.2rem;
    }
  }
}

img {
  width: 100%;
}

.container {
  width: 100%;
  padding: 0 6vw;

  @media (min-width: $medium) {
    padding: 0 8vw;
  }
}

.btn {
  background-color: $light;
  color: $primario;
  padding: 0.8rem 2rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  border: none;
  border-radius: 1rem;
  box-shadow: 0.2rem 0.2rem 0.3rem $dark;
  transition: background-color 0.3s ease;

  @media (min-width: $medium) {
    font-size: 2rem;
    padding: 1rem 3rem;
  }

  &:active {
    transform: scale(0.95);
  }

  &:hover {
    cursor: pointer;
    background-color: $dark;
    box-shadow: 0.2rem 0.2rem 0.3rem $complementario;
    color: $complementario;
  }
}

input:not([type='submit']) {
  font-family: 'Poppins', sans-serif;
  background-color: transparent;
  width: 100%;
  margin: 2rem 0;
  padding: 1rem 0;
  border: none;
  outline: none;
  border-bottom: 0.4rem solid $complementario;
  border-radius: 1rem;
  transition: border-color 0.4s;

  &::placeholder,
  &:focus,
  &:enabled {
    text-align: center;
    font-family: 'Poppins, ' sans-serif;
    color: darken($color: $light, $amount: 5%);
    color: 1.2rem;
    font-size: 1.6rem;
  }
  &:invalid {
    border-color: $error;
  }
}
