@use './mixins' as *;
@use './globals' as *;

.text-center {
  text-align: center;
}

.bg-dark {
  background-color: $dark;
}
.bg-light {
  background-color: $light;
}

.color-dark {
  color: $dark;
}
.color-light {
  color: $light;
}
