@use './../customs/globals' as *;
@use './../customs/mixins' as *;

.footer {
  margin-top: 10vh;
  height: 100%;
  color: $light;
  position: relative;

  background-image: linear-gradient(to bottom, transparentize($dark, 0.6) 0%, $dark 100%),
    url(../img/hero_footer.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  clip-path: ellipse(175% 100% at 50% 100%);

  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-wdith: $medium) {
    height: 100vh;
  }

  &__top {
    height: 100%;
    padding: 15vh 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__heading {
    text-align: center;
    font-size: 2rem;

    @media (min-width: $medium) {
      font-size: 2.8rem;
    }
    @media (min-width: $large) {
      font-size: 3.2rem;
    }
    @media (min-width: $large) {
      font-size: 4rem;
    }
  }

  &__bottom {
    width: 100%;
    margin-bottom: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.2rem;

    @media (min-width: $large) {
      font-size: 1.4rem;
    }

    &--social {
      display: flex;

      & .social-logo {
        width: 5rem;
        padding: 0.6rem;
        margin: 0 0.4vw;
        filter: invert(1);

        &:hover {
          cursor: pointer;
          opacity: 0.6;
          transition: opacity 0.6s;
        }
      }
    }
  }
}

.footer__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
