@use './../customs/globals' as *;
@use './../customs/mixins' as *;

.header {
  position: relative;

  &__title {
    margin: 20vh 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  &__heading {
    text-align: center;
    color: $primario;
    font-size: 3rem;
    padding: 3.4rem 0 0.8rem 0;
    text-shadow: 0.1rem 0.1rem 0.2rem $complementario;
    @media (min-width: $medium) {
      font-size: 5rem;
      padding: 2.4rem 0 0.8rem 0;
    }
    &--description {
      font-size: 1.2rem;
      padding: 1rem 0;

      @media (min-width: $medium) {
        font-size: 1.4rem;
        padding: 1.6rem 0;
      }
    }
  }
  h2 {
    color: $complementario;
    font-size: 3rem;
    text-shadow: 0.2rem 0.2rem 0.2rem lighten($color: $secundario, $amount: 25%);

    @media (min-width: $medium) {
      font-size: 4rem;
    }
    @media (min-width: $large) {
      font-size: 4.6rem;
    }
  }
}

// efecto Loading
